  <h1 style="padding-left: 3% ;padding-top: 1%;">Gallery</h1>
  <div id="img_cnt" , onchange ="get_image_count()">Total Count: </div>
  <% if !@images.any? %>
    <h2> Sorry no images to display...!!! </h2>
    <div class="containerr">
  <% else %>
  <div id="images">
    <%= render 'images' %>
  </div>
  <div class="containerr">
    <div id='paginator'>
    <%= paginate @images %></div>
    <!-- :remote => true  -->
  <% end %>

<br>
<br>

<h3>Upload Image</h3>
<div id='error-container' class="error">
</div>
 <%= form_with(model: @image , scope: :image_uploaded, multipart: true)  do |f| %>
 <div class=>
   <%= f.label :name %>
   <%= f.text_field :name , :required => true%>
 </div>

 <div class=>
   <%= f.file_field :image, :required => true %>
 </div>
 <div class=>
    <%= f.submit "Upload Image" %>
  </div>
 <% end %>
 </div>
 <br>

 <h2>Import Products</h2>
<%= submit_tag " Upload CSV",  data:{ open: "csvUploadModal" } %>
<%= render :partial => 'upload_csv' %>
<div class="modal"></div>
