<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>  <span class="error email-error">Invalid Email</span><br />
    <%= f.email_field :email, autofocus: true ,:required => true, :onchange => "validate_signup_form()" %>
  </div>

  <div class="field">
    <%= f.label :password %> <span class="error pswd-error">Password must have at least one uppercase letter, one lowercase letter, one number and one special character</span>
    <% if @minimum_password_length %>
    <em>(Password b/w <%= @minimum_password_length %> to 10 characters)</em>
    <% end %> <br />
    <%= f.password_field :password, autocomplete: "off" ,:required => true, :onchange => "validate_signup_form()" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %> <span class="error pswd-cnfrm-error">Password & Password Confirmation don't match</span><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:required => true, :onchange => "validate_signup_form()" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", disabled: true, :id => "signup_submit_btn"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
